<div class="container my-3 p-2 border shadow-sm">
	<div class="d-md-flex justify-content-between m-2">
	  <div class="d-flex flex-row">
		<div class="input-group border rounded border-light">
		  <div class="input-group-prepend border-0 bg-white ">
		  </div>
		  <input id="search-filter-input" type="text" class="form-control border-1" placeholder="Search by project id/name"
				 [(ngModel)]="searchTerm" (input)="applyFilter()" aria-label="Search" aria-describedby="basic-addon1" />
		</div>
	  </div>
  
    <div>
        <ngb-pagination  [boundaryLinks]="true"  [maxSize]="2" [ellipses]="true" [rotate]="true" [collectionSize]="filteredProjects.length" [(page)]="page" [pageSize]="pageSize" 
		(pageChange)="onPageChange()" >
        </ngb-pagination>
    </div>
  
	  <div>
        <!-- <select class="form-select" style="width: auto" [(ngModel)]="pageSize" (resize)="onPageSizeChange()" (load)="onPageSizeChange()"> -->

        <select class="form-select" style="width: auto" [(ngModel)]="pageSize" (ngModelChange)="onPageSizeChange()">
            <option [ngValue]="5">5 items per page</option>
            <option [ngValue]="10">10 items per page</option>
            <option [ngValue]="20">20 items per page</option>
        </select>
    </div>
	</div>
  
	<div class="table-responsive">
	  <table class="table table-hover">
		<thead class="table-light">
		  <tr>
			<th scope="col">Project Name</th>
			<th scope="col">Faculty</th>
			<th scope="col">Project ID</th>
			<th scope="col">Grant No</th>
			<th scope="col">Duration</th>
			<th scope="col">Estimated Cost</th>
			<th scope="col">Status & Date</th>
		  </tr>
		</thead>
		<tbody>
		  <tr *ngFor="let project of paginatedProjects" (click)="onProjectClick(project)">
			<td>{{ project.projectname }}</td>
			<td>{{ project.faculty }}</td>
			<td>{{ project.projectid }}</td>
			<td>{{ project.projectgrantno }}</td>
			<td>{{ project.projectduration }} months</td>
			<td>{{ project.totalcost | currency}}</td>
			<td>{{ project.status.status }} & {{project.status.date | date:'dd-MM-yyyy'}} </td>
		  </tr>
		</tbody>
	  </table>
	</div>
  
	<!-- <div *ngIf="!paginatedProjects || paginatedProjects.length === 0" class="alert alert-warning text-center mt-3">
	  No projects available.
	</div> -->
  </div>
  
