<div class="card shadow">
  <div class="card-header">
    <div class="text-center fw-bold mt-2">
      Status of Purchase Proposals
    </div>
  </div>
  <div class="card-body">
  <!-- Define the tabs with ngbNav -->
  <ul ngbNav #nav="ngbNav" [(activeId)]="activeTab" class="nav nav-tabs flex-column flex-md-row nav-tabs">
    <li *ngFor="let status of statuses; let i = index" [ngbNavItem]="i" class="flex-nowrap">
      <button ngbNavLink>{{ status.charAt(0) + status.slice(1).toLowerCase() }}</button>
      <ng-template ngbNavContent>
        <table class="table table-hover">
          <tbody>
            <tr *ngFor="let item of statusProject[status]">
              <td role="button" (click)="sendTitleItem(item)">{{ item }}</td>
            </tr>
          </tbody>
        </table>
      </ng-template>
    </li>
  </ul>
  <div [ngbNavOutlet]="nav" class="mt-2"></div>
</div>
</div>

<div class="card shadow">
<div class="card-body">
  <!-- Search Bar -->
<input
type="text"
class="form-control mb-3"
placeholder="Search projects"
[(ngModel)]="searchQuery"
(input)="filterProjects()"
/>

<!-- Project List -->
<ul class="list-group">
<li
  *ngFor="let project of filteredProjects"
  class="list-group-item list-group-item-action"
  (click)="selectProject(project)"
  role="button"
>
  {{ project.name }}
</li>
</ul>
</div>
</div>

  